
.container {
    height: 120vh;
    /* padding: 2%; */
    display: flex;    
    width: 100%;
    justify-content: space-around;
}
.right-container {
    height: 100%;
    width: 45%;    
    border: 3px dashed green;
    display: flex;
    flex-direction: column;
}
.left-container {
    width: 45%;
    height: 100%;
    display: flex;
    border: 3px dashed green;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding-left: 10%; */    

}
.left-img {    
    width: 100px;
    height: 51.64px;
    margin: 1%;
}

.upper-section {
    width: 100%;
    height: 50%;    
    border-bottom: 4px black solid;
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
}
.bottom-section {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.right-upper-item {
    width: 40%;
    height: 90%;
    background-color: yellow;
}
@media (max-width: 768px) {
    .only-pc {
        display: none;
    }
    .bottom-section {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}

#img1 {
    border: 3px black solid;
}