#show-all-btn {
    background-color: red;
    display: block;
    margin: 5px;
}
.sort-btn {
    background-color: green;

}

#tableContainer {
    width: 100%;
    margin-top: 20px;
}

table {
    min-width: 80%;
    background-color: green;
    text-align: center;
    border: 2px solid blue;
    border-collapse: collapse;
    margin: auto;
}

th {
    background-color: aqua;
}

th,
td {
    border: 1px solid black;
    margin: 5px;
}